framework = "CoreGraphics"
crate = "objc2-core-graphics"
required-crates = ["objc2-core-foundation"]
flags = [
    "-D__swift__=0",
]
custom-lib-rs = true
macos = "10.8"
maccatalyst = "13.0"
ios = "2.0"
tvos = "9.0"
watchos = "2.0"
visionos = "1.0"

external.MTLDevice.module = "Metal.MTLDevice"

# CF_RELEASES_ARGUMENT / cf_consumed, requires manual handling
fn.CGColorSpaceRelease.skipped = true

# CoreGraphics redefines this for some reason
struct.__IOSurface.skipped = true
typedef.IOSurfaceRef.skipped = true
external.IOSurfaceRef.module = "IOSurface.IOSurfaceRef"

# Defined for real in ColorSync, CoreGraphics redefines it just for the
# purpose of this function.
typedef.ColorSyncProfileRef.skipped = true
fn.CGColorSpaceCreateWithColorSyncProfile.skipped = true

# Needs io_service_t from the kernel
fn.CGDisplayIOServicePort.skipped = true

# Needs core::ffi::VaList, currently unstable
fn.CGColorConversionInfoCreateFromListWithArguments.skipped = true

# Calculation of these constants overflow, so we must use a larger type.
static.kCGFontIndexMax.use-value = true
static.kCGFontIndexInvalid.use-value = true

# Dependent on target endianness
static.kCGBitmapByteOrder16Host.skipped = true
static.kCGBitmapByteOrder32Host.skipped = true
const.kCGImageByteOrder16Host.skipped = true
const.kCGImageByteOrder32Host.skipped = true

# Uses defines from IOKit
enum.CGEventFlags.use-value = true
enum.CGEventType.use-value = true
const.kCGEventTapDisabledByTimeout.use-value = true
const.kCGEventTapDisabledByUserInput.use-value = true

# Calls `CGMainDisplayID`.
const.kCGDirectMainDisplay.skipped = true

# Wrong type (should be i32)
const.kCGNumReservedWindowLevels.skipped = true
const.kCGNumReservedBaseWindowLevels.skipped = true

# Needs to be wrapped as `CGEventType(!0)`.
const.kCGAnyInputEventType.skipped = true

# Complex value.
const.CG_OS_VERSION_2020.skipped = true

# Skip because it conflicts with `CGColorSpaceCopyName`, and that is more
# available anyhow.
fn.CGColorSpaceGetName.skipped = true

# Conflicts with `CGColorSpaceGetBaseColorSpace`.
fn.CGColorSpaceCopyBaseColorSpace.renamed = "copy_base_color_space"

# Swift-only wrappers.
fn.__CGBitmapContextCreateWithData.skipped = true
fn.__CGBitmapContextCreate.skipped = true

##
## Fixing generics.
##

# Undocumented what the representation is.
fn.CGPointCreateDictionaryRepresentation.return.generics = []
fn.CGPointMakeWithDictionaryRepresentation.arguments.0.generics = []
fn.CGSizeCreateDictionaryRepresentation.return.generics = []
fn.CGSizeMakeWithDictionaryRepresentation.arguments.0.generics = []
fn.CGRectCreateDictionaryRepresentation.return.generics = []
fn.CGRectMakeWithDictionaryRepresentation.arguments.0.generics = []

# Variation axes are specified to be `CFDictionary<CFString, CFNumber>`.
fn.CGFontCreateCopyWithVariations.arguments.1.generics = ["CoreFoundation.CFString.CFString", "CoreFoundation.CFNumber.CFNumber"]
fn.CGFontCopyVariationAxes.return.generics = ["CoreFoundation.CFDictionary.CFDictionary<CoreFoundation.CFString.CFString, CoreFoundation.CFNumber.CFNumber>"]
fn.CGFontCopyVariations.return.generics = ["CoreFoundation.CFString.CFString", "CoreFoundation.CFNumber.CFNumber"]
fn.CGFontCopyTableTags.return.generics = [] # uint32_t

fn.CGGradientCreateWithColors.arguments.1.generics = ["CoreGraphics.CGColor.CGColor"]

fn.CGPDFContentStreamGetStreams.return.generics = ["CoreGraphics.CGPDFContentStream.CGPDFContentStream"]
fn.CGPDFContextCreate.arguments.2.generics = ["CoreFoundation.CFString.CFString", "CoreFoundation.CFType"]
fn.CGPDFContextCreateWithURL.arguments.2.generics = ["CoreFoundation.CFString.CFString", "CoreFoundation.CFType"]
fn.CGPDFContextBeginPage.arguments.1.generics = ["CoreFoundation.CFString.CFString", "CoreFoundation.CFType"]

fn.CGWindowListCopyWindowInfo.return.generics = ["CoreFoundation.CFDictionary.CFDictionary"] # Unsure of dictionary keys/values
fn.CGWindowListCreate.return.generics = [] # CGWindowID (u32)
fn.CGWindowListCreateDescriptionFromArray.arguments.0.generics = [] # CGWindowID (u32)
fn.CGWindowListCreateDescriptionFromArray.return.generics = ["CoreFoundation.CFDictionary.CFDictionary"] # Unsure of dictionary keys/values
fn.CGWindowListCreateImageFromArray.arguments.1.generics = [] # CGWindowID (u32)

fn.CGDisplayCopyAllDisplayModes.return.generics = ["CoreGraphics.CGDirectDisplay.CGDisplayMode"]
fn.CGDisplayAvailableModes.return.generics = ["CoreFoundation.CFDictionary.CFDictionary<CoreFoundation.CFString.CFString, CoreFoundation.CFType>"]
fn.CGDisplayBestModeForParameters.return.generics = ["CoreFoundation.CFString.CFString", "CoreFoundation.CFType"]
fn.CGDisplayBestModeForParametersAndRefreshRate.return.generics = ["CoreFoundation.CFString.CFString", "CoreFoundation.CFType"]
fn.CGDisplayCurrentMode.return.generics = ["CoreFoundation.CFString.CFString", "CoreFoundation.CFType"]
fn.CGDisplaySwitchToMode.arguments.1.generics = ["CoreFoundation.CFString.CFString", "CoreFoundation.CFType"]
fn.CGConfigureDisplayMode.arguments.2.generics = ["CoreFoundation.CFString.CFString", "CoreFoundation.CFType"]
fn.CGDisplayStreamCreate.arguments.4.generics = ["CoreFoundation.CFString.CFString", "CoreFoundation.CFType"]
fn.CGDisplayStreamCreateWithDispatchQueue.arguments.4.generics = ["CoreFoundation.CFString.CFString", "CoreFoundation.CFType"]

fn.CGSessionCopyCurrentDictionary.return.generics = ["CoreFoundation.CFString.CFString", "CoreFoundation.CFType"]

# Unsure, docs just say "additional information or NULL".
fn.CGContextBeginTransparencyLayer.arguments.1.generics = []
fn.CGContextBeginTransparencyLayerWithRect.arguments.2.generics = []

# Reserved, pass NULL.
fn.CGColorCreateCopyByMatchingToColorSpace.arguments.3.generics = []
fn.CGPSConverterCreate.arguments.2.generics = []
fn.CGPSConverterConvert.arguments.3.generics = []
fn.CGLayerCreateWithContext.arguments.2.generics = []
fn.CGDisplayCopyAllDisplayModes.arguments.1.generics = []
fn.CGDisplaySetDisplayMode.arguments.2.generics = []
fn.CGConfigureDisplayWithDisplayMode.arguments.3.generics = []

# No documentation.
fn.CGBitmapContextCreateAdaptive.arguments.2.generics = []
fn.CGColorConversionInfoConvertData.arguments.7.generics = []
fn.CGColorConversionInfoCreateForToneMapping.arguments.5.generics = []
fn.CGColorConversionInfoCreateWithOptions.arguments.2.generics = []
fn.CGContextDrawImageApplyingToneMapping.arguments.4.generics = []
fn.CGConvertColorDataWithFormat.arguments.6.generics = []
fn.CGEXRToneMappingGammaGetDefaultOptions.return.generics = []
fn.CGPathCreateSeparateComponents.return.generics = []
fn.CGPDFContextBeginTag.arguments.2.generics = []
fn.CGPDFContextSetOutline.arguments.1.generics = []
fn.CGPDFContextSetPageTagStructureTree.arguments.1.generics = []
fn.CGPDFDocumentGetOutline.return.generics = []

##
## Safety
##

# SAFETY: CoreGraphics is well-behaved when it comes to memory safety.
unsafe-default-safety.documentation-is-reviewed = true
# TODO: Things like `CGPDFArrayGetNull` are maybe not bounds-checked?
unsafe-default-safety.bounds-checked-internally = true

# TODO: Unsure if the run loop source must be sendable?
# https://github.com/madsmtm/objc2/issues/696
fn.CGDisplayStreamGetRunLoopSource.unsafe = true

# Unclear if these can be used correctly if the dictionary is owned by the
# system (and hence might be released on another thread just before we retain
# the return value?)
fn.CGDisplayAvailableModes.unsafe = true
fn.CGDisplayBestModeForParameters.unsafe = true
fn.CGDisplayBestModeForParametersAndRefreshRate.unsafe = true
fn.CGDisplayCurrentMode.unsafe = true
fn.CGDisplaySwitchToMode.unsafe = true
fn.CGDisplaySetDisplayMode.unsafe = true
