[package]
name = "header-translator"
version = "0.1.0"
edition.workspace = true
publish = false
repository.workspace = true
license.workspace = true

[dependencies]
# https://github.com/KyleMayes/clang-rs/pull/58
# https://github.com/KyleMayes/clang-rs/pull/60
# https://github.com/KyleMayes/clang-rs/pull/62
clang = { git = "https://github.com/madsmtm/clang-rs.git", branch = "objc2", features = ["runtime", "clang_10_0"] }
clang-sys = { version = "1.4.0" }
toml_edit = "0.22.9"
basic-toml = "0.1.2"
serde = { version = "1.0.144", features = ["derive"] }
apple-sdk = { version = "0.6.0", default-features = false }
tracing = { version = "0.1.37", default-features = false, features = ["std"] }
tracing-subscriber = { version = "0.3.16", features = ["fmt"] }
tracing-tree = { git = "https://github.com/madsmtm/tracing-tree.git" }
proc-macro2 = "1.0.66"
syn = { version = "2.0", features = ["parsing"] }
heck = "0.5"
semver = { version = "1.0", features = ["serde"] }
lenient_semver_parser = "0.4"
four-char-code = "2.2.0"
regex = "1.6"
clap = { version = "4.5.31", features = ["derive"] }

[package.metadata.release]
release = false

[features]
std = []
