[package]
name = "header-translator"
version = "0.1.0"
edition = "2021"
publish = false

repository = "https://github.com/madsmtm/objc2"
license = "Zlib OR Apache-2.0 OR MIT"

[dependencies]
clang = { version = "2.0", features = ["runtime", "clang_10_0"] }
toml = "0.5.9"
serde = { version = "1.0.144", features = ["derive"] }
apple-sdk = { version = "0.4.0", default-features = false }
tracing = { version = "0.1.37", default-features = false, features = ["std"] }
tracing-subscriber = { version = "0.3.16", features = ["fmt"] }
tracing-tree = { git = "https://github.com/madsmtm/tracing-tree.git" }
proc-macro2 = "1.0.49"
syn = { version = "1.0", features = ["parsing"] }
