framework = "HomeKit"
crate = "objc2-home-kit"
required-crates = ["objc2", "objc2-foundation"]
maccatalyst = "14.0"
ios = "8.0"
tvos = "10.0"
watchos = "2.0"
visionos = "1.0"

external.CLRegion.module = "CoreLocation.CLRegion"
external.MTRSetupPayload.module = "Matter.MTRSetupPayload"

# Set counterparts
class.HMCalendarEvent.counterpart.mutable-subclass = "HomeKit.HMCalendarEvent.HMMutableCalendarEvent"
class.HMMutableCalendarEvent.counterpart.immutable-superclass = "HomeKit.HMCalendarEvent.HMCalendarEvent"
class.HMCharacteristicEvent.counterpart.mutable-subclass = "HomeKit.HMCharacteristicEvent.HMMutableCharacteristicEvent"
class.HMMutableCharacteristicEvent.counterpart.immutable-superclass = "HomeKit.HMCharacteristicEvent.HMCharacteristicEvent"
class.HMCharacteristicThresholdRangeEvent.counterpart.mutable-subclass = "HomeKit.HMCharacteristicThresholdRangeEvent.HMMutableCharacteristicThresholdRangeEvent"
class.HMMutableCharacteristicThresholdRangeEvent.counterpart.immutable-superclass = "HomeKit.HMCharacteristicThresholdRangeEvent.HMCharacteristicThresholdRangeEvent"
class.HMLocationEvent.counterpart.mutable-subclass = "HomeKit.HMLocationEvent.HMMutableLocationEvent"
class.HMMutableLocationEvent.counterpart.immutable-superclass = "HomeKit.HMLocationEvent.HMLocationEvent"
class.HMPresenceEvent.counterpart.mutable-subclass = "HomeKit.HMPresenceEvent.HMMutablePresenceEvent"
class.HMMutablePresenceEvent.counterpart.immutable-superclass = "HomeKit.HMPresenceEvent.HMPresenceEvent"
class.HMSignificantTimeEvent.counterpart.mutable-subclass = "HomeKit.HMSignificantTimeEvent.HMMutableSignificantTimeEvent"
class.HMMutableSignificantTimeEvent.counterpart.immutable-superclass = "HomeKit.HMSignificantTimeEvent.HMSignificantTimeEvent"
class.HMDurationEvent.counterpart.mutable-subclass = "HomeKit.HMDurationEvent.HMMutableDurationEvent"
class.HMMutableDurationEvent.counterpart.immutable-superclass = "HomeKit.HMDurationEvent.HMDurationEvent"

# Needs MTRSetupPayload from the Matter framework.
class.HMAccessorySetupRequest.methods.matterPayload.skipped = true
class.HMAccessorySetupRequest.methods."setMatterPayload:".skipped = true
