framework = "MetalKit"
crate = "objc2-metal-kit"
required-crates = ["objc2", "objc2-foundation", "objc2-metal"]
macos = "10.11"
maccatalyst = "13.0"
ios = "9.0"
tvos = "9.0"
visionos = "1.0"

# TODO: Re-enable these once the relevant frameworks are present
class.MTKMeshBufferAllocator.skipped-protocols = ["MDLMeshBufferAllocator"]
class.MTKMeshBuffer.skipped-protocols = ["MDLMeshBuffer", "MDLNamed"]
