[package]
name = "test_msg_send_static_sel"
version = "0.1.0"
edition.workspace = true
publish = false

[lib]
path = "lib.rs"

[dependencies]
objc2 = { path = "../../../objc2", optional = true }

[features]
default = ["objc2"]
# Runtime
gnustep-1-7 = ["objc2?/gnustep-1-7"]
gnustep-1-8 = ["gnustep-1-7", "objc2?/gnustep-1-8"]
gnustep-1-9 = ["gnustep-1-8", "objc2?/gnustep-1-9"]
gnustep-2-0 = ["gnustep-1-9", "objc2?/gnustep-2-0"]
gnustep-2-1 = ["gnustep-2-0", "objc2?/gnustep-2-1"]

# Hack to prevent the feature flag from being enabled in the entire project
assembly-features = ["objc2?/unstable-static-sel-inlined"]

[package.metadata.release]
release = false
