target/
artifacts/
coverage/

# The corpus generally grows very quickly, and doesn't really need to be in-tree
corpus/
# However, we do want to keep it for classes and selectors
!corpus/class/
!corpus/sel/
