[package]
name = "examples-app"
version = "0.0.0"
edition = "2021"
license = "Zlib OR Apache-2.0 OR MIT"
publish = false

[[example]]
name = "delegate"
path = "delegate.rs"

[[example]]
name = "default_xcode_app"
path = "default_xcode_app/main.rs"

# The example from `objc2`'s main docs.
[[example]]
name = "hello_world_app"
path = "hello_world_app.rs"

[features]
unstable-darwin-objc = []

[dependencies]
objc2 = "0.6.2"
objc2-foundation = { version = "0.3.1", default-features = false, features = [
    "std",
    "NSNotification",
    "NSString",
    "NSObject",
    "NSThread",
] }
objc2-app-kit = { version = "0.3.1", default-features = false, features = [
    "std",
    "objc2-core-foundation",
    "NSApplication",
    "NSColor",
    "NSControl",
    "NSFont",
    "NSGraphics",
    "NSResponder",
    "NSRunningApplication",
    "NSText",
    "NSTextField",
    "NSView",
    "NSViewController",
    "NSWindow",
    "NSWindowController",
    "NSMenu",
    "NSMenuItem",
] }
