[package]
name = "test_declare_class"
version = "0.1.0"
edition = "2021"
publish = false

[lib]
path = "lib.rs"

[dependencies]
objc2 = { path = "../../../objc2", default-features = false, optional = true }
icrate = { path = "../../../icrate", default-features = false, optional = true }

[features]
default = ["apple", "std", "Foundation"]
std = ["icrate?/std", "icrate?/std"]
# Runtime
apple = ["objc2", "icrate", "icrate?/apple"]
gnustep-1-7 = ["icrate?/gnustep-1-7"]
gnustep-1-8 = ["gnustep-1-7", "icrate?/gnustep-1-8"]
gnustep-1-9 = ["gnustep-1-8", "icrate?/gnustep-1-9"]
gnustep-2-0 = ["gnustep-1-9", "icrate?/gnustep-2-0"]
gnustep-2-1 = ["gnustep-2-0", "icrate?/gnustep-2-1"]

Foundation = ["icrate?/Foundation"]

# Hack to prevent the feature flag from being enabled in the entire project
assembly-features = ["objc2?/unstable-static-sel-inlined", "objc2?/unstable-static-class-inlined"]
